{{ $musikum := slice "May" "June" }}
{{ $maifest := slice "March" "April" }}
{{ $schuntember := slice "September" "October" }}
{{ $current_month := time.Now.Month.String }}

<h3 class="tc">
    {{ if in $maifest $current_month }}
    Bald findet wieder das Maifest in der Schuntille statt! Das Maifest findet in diesem Jahr am {{ site.Params.maifest
    | default ("30.04.") }} statt.
    {{ end }}
    {{ if in $musikum $current_month }}
    Bald findet wieder das Musikfestival "Musikum" in der Schuntille statt! Das diesjährige Musikum findet am {{
    site.Params.musikum }} statt.
    {{ end }}
    {{ if in $schuntember $current_month }}
    Bald findet wieder der Schuntember, die Halloween Party in der Schuntille statt! Der Schuntember findet dieses Jahr
    am {{ site.Params.schuntember | default ("30.10.") }} statt.
    {{ end }}
</h3>